<div class="cuerpo">
  <form [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-container">
      <h2 class="form-title">Contactame</h2>
      <input
        type="text"
        class="form-input"
        placeholder="Nombre: "
        id="fname"
        formControlName="nombre"
        [class.is-invalid]="nombreNoValido"
        autocomplete="off"
      />
      <small class="advertencia" *ngIf="nombreNoValido">
        Ingrese mas de 3 letras
      </small>
      <input
        type="text"
        class="form-input"
        placeholder="Email: "
        id="femail"
        formControlName="correo"
        [class.is-invalid]="correoNoValido"
        autocomplete="off"
      />
      <small class="advertencia" *ngIf="correoNoValido">
        Ingrese un email valido
      </small>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        class="form-input form-input-mensaje"
        placeholder="Mensaje:"
        formControlName="mensaje"
        [class.is-invalid]="mensajeNoValido"
      ></textarea>
      <small class="advertencia" *ngIf="mensajeNoValido">
        Ingrese un mensaje
      </small>

      <!-- <input type="submit" value="Enviar" class="form-cta" [disabled]="forma.invalid"> -->

      <button type="submit" class="form-cta" [disabled]="forma.invalid">
        Enviar
      </button>

      <!-- <pre>
         <hr>
        Estado del formulario: {{ forma.valid }}
        <br>
        Status: {{ forma.status }}
      </pre>
      
      <pre>
        {{ forma.value | json }}
      </pre>
       -->
    </div>
  </form>
</div>
