<div class="contenedor">

    <div class="arriba">
      <h1>Citas agendadas</h1>
    <button mat-raised-button color="primary" routerLink="/agregar-agenda" class="btn">Agendar Cita</button>
    </div>
 
  <!-- Filtro -->
  <!-- <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field> -->
<!-- Tabla -->
<div class="tabla">
  <section class="example-container" tabindex="3">
    <table mat-table [dataSource]="dataSource"  >
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>
  
      <!-- Apellido Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
      </ng-container>
  
      <!-- Correo Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
      </ng-container>
    
  
      <!-- Celular Column -->
      <ng-container matColumnDef="celular" class="dato-corto" >
        <th mat-header-cell *matHeaderCellDef>Celular</th>
        <td mat-cell *matCellDef="let element">{{ element.celular }}</td>
      </ng-container>
  
      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef class="dato-corto">Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
      </ng-container>
  
      <!-- Hora Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef class="dato-corto">Hora</th>
        <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
      </ng-container>
  
      <!-- descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator> -->
</div>
