.contenedor{
  background-image: linear-gradient(to right,  rgb(225, 141, 251,0.6) 0%,  rgb(90, 142, 241,0.6) 100%),url(../../../assets/img/organizacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family:'Montserrat', sans-serif ;
  padding: 2%;
}

/*



td{
  color: black;
  font-family:'Montserrat', sans-serif ;
  text-align: center;
}
.dato-corto{
  width: 9%;
  
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin: 0 5%;
  color: black;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.btn{
  margin: 0 6%;
  text-align: center;
} */
.example-container {
  height: 350px;
  overflow: auto;
}

table {
  width: 100%;
  background-color: azure;
 
}

section{
  width: 90%;
  margin: 3% auto;
}
.tabla{
  display: flex;
  /* margin: 2% 3%; */
  
}

th{
  color: black;
  font-family:'Montserrat', sans-serif ;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgb(225, 141, 251,0.5);
  }

  td{
    color: black;
    font-family:'Montserrat', sans-serif ;
  }

  .arriba h1{
    display: inline;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 9vh;
    font-family: 'Abril Fatface', cursive;
  }
.btn{
  display: inline;
  float: right;
  width: 15%;
  height: 2.3rem;
}
  .arriba{
  
    display: inline-block;
    justify-content: space-between;
    width: 100%;
  }